html {
    /* px 表示 “像素（pixels）”: 基础字号为 10 像素 */
    font-size: 15px; 
    /* Google fonts 输出的 CSS */
    font-family: 'Open Sans', sans-serif; 
    background-color: rgb(255, 255, 255);
    background-image: url(waves-01.jpg);
    background-repeat: repeat;
    /* background-size: contain; */
  }
body{
    width: 80%;
    margin:0 auto;
    background-color: #F9FAFC;
    padding: 0 20px 20px 20px;
    border: 1px solid rgb(253,253,253) ;
    }
img {
        display: block;
        margin: 0 auto;
      }
main{
    text-align: center;
}
article{
    width: 500px;
    margin:20px auto;
    padding:50px,50px,50px,50px;
    background-color: rgb(254, 254, 254);
    text-align:center;
    border: 1px solid rgb(253,253,253) ;
    /* border: 1px solid black ; */
    
}
.css-3{
    width: 500px;
    margin:160px auto;
    padding:50px,50px,50px,50px;
    background-color: rgb(254, 254, 254);
    text-align:center;
    border: 1px solid rgb(253,253,253) ;
    /* border: 1px solid black ; */
    
}
h1{
    margin: 0;
    font-size:60px;
    color: #5170FF;
    text-align: center;
    padding: 20px 0;
    /* background-color: #c5dbdabe; */
    text-shadow:1px 2px 1px black;

}
h2{
   font-size:30px;
   color: #3DCCA6;
}.top{
    text-align: left;
    color: #3DCCA6;

}
h3{
    text-align: left;
}
footer{
    width: 100%;
    margin:0;
    padding:2px;
    font-size: 12px;
    background-attachment: fixed;
    background-color: rgb(245, 243, 243);
    text-align: left;
}
.foot{width:100%; height:2px;background:#900;margin:0 auto}

.css-1 {
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: rgba(38, 50, 56, 0.2) 0px 0px 0px 1px inset;
    height: 40px;
    border-radius: 3px;
    transition: all 0.18s ease-in-out 0s;
    outline: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background: rgb(69, 90, 100);
    padding: 0px 106px;
    opacity: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
.btn, button {
    border-radius: 5px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    -webkit-appearance: button;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}
